 <!-- Thương hiệu -->
 <section class="our-brand">
    <div class="container">
        <h3 class="title-1">Thương hiệu quốc tế</h3>
        <div class="col s8">
            <div class="row">
                <div class="col s6 mb-2 min-height-155 clearfix">
                    <span class="stt">1</span>
                    <div class="d-inline-block">
                        <h4>THƯƠNG HIỆU HÀNG ĐẦU</h4>
                        <p>Là một trong những thương hiệu trà sữa được ưa chuộng tại Đài Loan. Năm 2017 là tròn 4
                            năm Ding Tea phát triển tại Việt Nam với menu gần 100 hương vị khác nhau đáp ứng mọi độ
                            tuổi khách hàng tại Việt Nam.</p>
                    </div>
                </div>
                <div class="col s6 mb-2 min-height-155 clearfix">
                    <span class="stt">2</span>
                    <div class="d-inline-block">
                        <h4>HỆ THỐNG BẬC NHẤT</h4>
                        <p>Với sự phát triển mạnh mẽ, tại Việt Nam Ding Tea đã có tới gần 200 cửa hàng trải khắp các
                            tỉnh thành. Đảm bảo khả năng phục vụ khách hàng ở mọi lứa tuổi ở khắp mọi nơi tại Việt
                            Nam.</p>
                    </div>
                </div>
                <div class="col s6 mb-2 min-height-155 clearfix">
                    <span class="stt">3</span>
                    <div class="d-inline-block">
                        <h4>CHUYÊN NGHIỆP</h4>
                        <p>Với đội ngũ nhân viên được đào tạo bài bàn, chuyên nghiệp. Am hiểu về các nguyên liệu ,
                            thành phần pha chế, chất lượng an toàn thực phẩm đặt lên hàng đầu. Cùng với đó là sự
                            tươi vui &amp; tôn trọng dành cho mọi khách hàng.</p>
                    </div>
                </div>
                <div class="col s6 mb-2 min-height-155 clearfix">
                    <span class="stt">4</span>
                    <div class="d-inline-block">
                        <h4>PHÁT TRIỂN MẠNH MẼ</h4>
                        <p>Không chỉ tạo ra những hương vị trà sữa phù hợp với người Việt để lại chất “đậm” riêng
                            Ding Tea còn tạo nên những hệ thống công nghệ ứng dụng mua, giao hàng mang lại tính trải
                            nghiệm cao cho khách hàng.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>