<!-- Carousel -->
<div class="carousel carousel-slider center">
    <div class="carousel-fixed-item center">
        <!-- <a class="btn waves-effect white grey-text darken-text-2">ORDER NOW</a> -->
        <a class="waves-effect waves-light btn-large teal lighten-3"><i
                class="material-icons right">add_shopping_cart</i>ORDER NOW</a>
    </div>
    <div class="carousel-item red white-text" href="#one!"
        style="background-image: url(../static/images/carousel1.jpg);background-size:cover;">
        <a class="waves-effect waves-light btn-large">Tìm hiểu thêm</a>
        <a class="waves-effect waves-light btn-large transparent">Đặt hàng ngay</a>
    </div>
    <div class="carousel-item amber white-text" href="#two!"
        style="background-image: url(../static/images/carousel2.png);background-size:cover">
        <a class="waves-effect waves-light btn-large">Tìm hiểu thêm</a>
        <a class="waves-effect waves-light btn-large transparent">Đặt hàng ngay</a>
    </div>
    <div class="carousel-item green white-text" href="#three!"
        style="background-image: url(../static/images/carousel3.jpg);background-size:cover">
        <a class="waves-effect waves-light btn-large">Tìm hiểu thêm</a>
        <a class="waves-effect waves-light btn-large transparent">Đặt hàng ngay</a>
    </div>
    <div class="carousel-item blue white-text" href="#four!"
        style="background-image: url(../static/images/carousel4.jpg);background-size:cover">
        <a class="waves-effect waves-light btn-large">Tìm hiểu thêm</a>
        <a class="waves-effect waves-light btn-large transparent">Đặt hàng ngay</a>
    </div>
</div>