<!-- Footer -->
<footer class="bg-dark clearfix" style="background-color: black;">
    <div class="container">
        <div class="row">
            <div class="col s8">
                <div class="row">
                    <ul class="col s3">
                        <li class="title">VỀ CHÚNG TÔI</li>
                        <li><a href="https://dingtea.vn/ve-dingtea-vietnam">Công ty</a></li>
                        <li><a href="https://dingtea.vn/co-hoi-nghe-nghiep">Cơ hội nghề nghiệp</a></li>
                    </ul>
                    <ul class="col s3">
                        <li class="title">DỊCH VỤ KHÁCH HÀNG</li>
                        <li><a href="https://dingtea.vn/cau-hoi-thuong-gap">Câu hỏi thường gặp</a></li>
                    </ul>
                    <ul class="col s3">
                        <li class="title">LIÊN KẾT NHANH</li>
                        <li><a href="https://dingtea.vn/tim-cua-hang">Tìm cửa hàng</a></li>
                        <li><a href="mailto:info@mapleleaves.vn">Dành cho đối tác</a></li>
                    </ul>
                    <ul class="col s3 social">
                        <li><a
                                href="https://www.facebook.com/S%E1%BB%AFa-chua-tr%C3%A2n-ch%C3%A2u-Qu%E1%BA%A3ng-Ninh-34-Mai-Anh-Tu%E1%BA%A5n-101286928308594"><img
                                    src="https://dingtea.vn/images/ft-facebook.png" alt=""></a></li>
                        <li><a
                                href="https://www.facebook.com/S%E1%BB%AFa-chua-tr%C3%A2n-ch%C3%A2u-Qu%E1%BA%A3ng-Ninh-34-Mai-Anh-Tu%E1%BA%A5n-101286928308594"><img
                                    src="https://dingtea.vn/images/ft-instagram.png" alt=""></a></li>
                    </ul>
                </div>
            </div>
            <div class="col s4">
                <div class="copyright">
                    <p><img src="../static/images/footer-01.png" alt="" width="160"></p>
                    <p>© Copyright by MAPLE LEAVES TSAIP CO.,LTD</p>
                    <p>Công ty TNHH TMDV &amp; ĐTSX Lá Phong</p>
                </div>
            </div>
        </div>

    </div>
</footer>