<!-- Modal Structure -->
<div id="modal-signup" class="modal ">
    <form id="register-form" method="POST">
        <div class="modal-content">
            <h4>Sign up</h4>
            <span class="warning-msg" style="color: red;padding-left: 0.75rem;"></span>
            <span class="success-msg" style="color: green;"></span>
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate" required>
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate" required>
                    <label for="last_name">Last Name</label>
                </div>
                <div class="input-field col s6">
                    <input id="user-email" type="email" class="validate" required>
                    <label for="user-email">Email</label>
                </div>
                <div class="input-field col s6">
                    <input id="phone-number" type="number" class="validate" required>
                    <label for="phone-number">Phone</label>
                </div>
                <div class="input-field col s12">
                    <input id="user-password" type="password" class="validate" required>
                    <label for="user-password">Password</label>
                </div>
                <div class="input-field col s12">
                    <input id="password-confirmation" type="password" class="validate" required>
                    <label for="password-confirmation">Confirm password</label>
                </div>
            </div>
        </div>
        <div class="modal-footer" style="border-top: 1px solid rgba(0,0,0,0.1)">
            <button href="#!" type="submit" class="waves-effect waves-green btn-flat">Đăng ký</button>
        </div>
    </form>
</div>