<!-- Tin tuc -->
<div class="container">
    <h3 style="margin-top: 60px;text-align:center" class="cyan-text text-lighten-3">Tin tức</h3>
    <div class="row">
        <div class="col s12 m4">
            <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t1.0-9/120093850_189877415873482_7019038705538429274_o.png?_nc_cat=100&_nc_sid=730e14&_nc_ohc=S5s1fm5Unb4AX_tmHmM&_nc_ht=scontent.fsgn5-5.fna&oh=6bf1e93d989a61152db1e3cf8f22c4c9&oe=5F9EF4B5"
                alt="" style="width:100%;height:300px;object-fit:cover">
            <a class='a-news' href="https://www.facebook.com/suachuaquangninh/?ref=page_internal">Vui Trung Thu
                2020</a>
            <br>
            <span class="time">
                <i class="tiny material-icons" style="margin-right: 5px">access_alarm</i>
                4/10/2020
            </span>
            <p>𝑻𝒓𝒖𝒏𝒈 𝑻𝒉𝒖 𝒉𝒂̣𝒏𝒉 𝒑𝒉𝒖́𝒄 𝒃𝒊̀𝒏𝒉 𝒂𝒏 𝒈𝒉𝒆́
                <br>
                𝑨́𝒏𝒉 𝒕𝒓𝒂̆𝒏𝒈 𝒓𝒖̛̣𝒄 𝒔𝒂́𝒏𝒈 𝑻𝒆̂́𝒕 𝒔𝒖𝒎 𝒗𝒂̂̀𝒚
                <br>
                Vậy là một mùa trăng tròn nữa sắp tới. Ngày trung thu cận kề, lòng người dọn bớt những ngổn ngang
                bộn bề của cuộc sống để ngồi bên nhau thưởng trăng, kể chuyện ân tình. Dù cho vật đổi sao dời, Trung
                Thu mãi là dịp gia đình, người thân cùng nhau quây quần viết nên những kỷ niệm ngọt ngào. </p>
            <!-- Promo Content 1 goes here -->

        </div>
        <div class="col s12 m4">
            <img src="https://scontent.fsgn5-5.fna.fbcdn.net/v/t1.0-9/116371190_133993258371294_8180615845887926179_o.jpg?_nc_cat=108&_nc_sid=8bfeb9&_nc_ohc=Wlme6B-tHNMAX_HodtS&_nc_ht=scontent.fsgn5-5.fna&oh=259f81da15687c613263475f5915cbc1&oe=5F9DA4C9"
                alt="" style="width:100%;height:300px;object-fit:cover">
            <a class='a-news' href="https://www.facebook.com/suachuaquangninh/?ref=page_internal">Tác dụng của
                sữa chua</a>
            <br>
            <span class="time">
                <i class="tiny material-icons" style="margin-right: 5px">access_alarm</i>
                4/10/2020
            </span>
            <p>5 𝙩𝙖́𝙘 𝙙𝙪̣𝙣𝙜 𝙘𝙪̉𝙖 𝙨𝙪̛̃𝙖 𝙘𝙝𝙪𝙖:
                <br>
                Sữa chua trân châu Quảng Ninh thường ca tụng rất nhiều về lợi ích của Sữa chua mang lại cho sức khỏe
                chúng ta. Vậy đối với làn da, Sữa chua có thực sự được coi là một "dũng sĩ" làm đẹp? Cùng chúng mình
                khám phá nhé!</p>
            <!-- Promo Content 2 goes here -->
        </div>
        <div class="col s12 m4">
            <img src="https://scontent-hkt1-1.xx.fbcdn.net/v/t1.0-9/120392351_153124119791541_7932144667005815847_n.jpg?_nc_cat=102&_nc_sid=8bfeb9&_nc_ohc=fJrqO6pJQt0AX89MGfn&_nc_ht=scontent-hkt1-1.xx&oh=e9f7540edccd23b82e24d6c449d24248&oe=5F9EB1FD"
                alt="" style="width:100%;height:300px;object-fit:cover">
            <a class='a-news' href="https://www.facebook.com/suachuaquangninh/?ref=page_internal">Hot Dessert chào
                tháng 10</a>
            <span class="time">
                <i class="tiny material-icons" style="margin-right: 5px">access_alarm</i>
                4/10/2020
            </span>
            <p>Siêu phẩm cực hot chào tháng 10
                <br>
                Sữa tươi trân châu Quảng Ninh - 34 Mai Anh Tuấn ra mắt cực phẩm 𝑺𝒖̛̃𝒂 𝒕𝒖̛𝒐̛𝒊 𝒕𝒓𝒂̂𝒏
                𝒄𝒉𝒂̂𝒖 đ𝒖̛𝒐̛̀𝒏𝒈 đ𝒆𝒏 & 𝑺𝒖̛̃𝒂 𝒄𝒉𝒖𝒂 𝒕𝒓𝒂̂𝒏 𝒄𝒉𝒂̂𝒖 đ𝒖̛𝒐̛̀𝒏𝒈 đ𝒆𝒏</p>
            <!-- Promo Content 3 goes here -->
        </div>

    </div>
</div>