 <!-- San pham noi bat -->
 <div class="container">
    <h3 style="margin-top: 60px; text-align:center" class="cyan-text text-lighten-3">Sản phẩm nổi bật</h3>
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="https://scontent.fhan2-6.fna.fbcdn.net/v/t1.0-9/105578665_166176238243600_1084235058137505396_o.jpg?_nc_cat=103&ccb=2&_nc_sid=730e14&_nc_ohc=TYqDn9TslZkAX9OVCM9&_nc_ht=scontent.fhan2-6.fna&oh=3837d5b9e119f5498f1cc10a78e94489&oe=5FC56083">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sữa chua dâu tây<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#"><i class="material-icons right">favorite</i>Buy now</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mô tả<i
                            class="material-icons right">close</i></span>
                    <p>Sữa chua dạng kem, mát dẻo, lại tốt cho sức khỏe, chuẩn vị Hạ Long. Rưới lên trên là 1 lớp
                        siro dâu tây kèm theo vài lát dâu tây tươi ngon. Lưu ý: sản phẩm chưa bao gồm trân châu cốt
                        dừa.</p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="https://scontent.fhan2-5.fna.fbcdn.net/v/t1.0-9/106080435_166176198243604_5922664184533715809_o.jpg?_nc_cat=109&ccb=2&_nc_sid=730e14&_nc_ohc=B7kwz4CcVQAAX9eEBhf&_nc_ht=scontent.fhan2-5.fna&oh=d68273783a4b07b00104487be736feab&oe=5FC6E9BE">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sữa chua xoài<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#"><i class="material-icons right">favorite</i>Buy now</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mô tả<i
                            class="material-icons right">close</i></span>
                    <p>Sữa chua dạng kem, mát dẻo, lại tốt cho sức khỏe, chuẩn vị Hạ Long. Kèm theo là topping xoài
                        thái hạt lựu. Lưu ý: sản phẩm chưa bao gồm trân châu cốt dừa.</p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-9/104594653_166176224910268_2127184425147910446_o.jpg?_nc_cat=105&ccb=2&_nc_sid=730e14&_nc_ohc=9gAZpSvgv68AX94y9Nh&_nc_ht=scontent.fhan2-4.fna&oh=3581124214582e1727018dfe5a36da57&oe=5FC54170">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sữa chua chanh leo<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#"><i class="material-icons right">favorite</i>Buy now</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mô tả<i
                            class="material-icons right">close</i></span>
                    <p>Sữa chua dạng kem, mát dẻo, lại tốt cho sức khỏe, chuẩn vị Hạ Long. Rưới lên trên là 1 lớp
                        siro chanh leo. Lưu ý: sản phẩm chưa bao gồm trân châu cốt dừa.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="https://scontent.fhan2-4.fna.fbcdn.net/v/t1.0-9/106094713_166176131576944_4551308204098131687_o.jpg?_nc_cat=110&ccb=2&_nc_sid=730e14&_nc_ohc=H7E7_0aMDcQAX95O0ln&_nc_ht=scontent.fhan2-4.fna&oh=092999b2586f2c92e60a2f10672338cb&oe=5FC72336">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sữa chua kiwi<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#"><i class="material-icons right">favorite</i>Buy now</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mô tả<i
                            class="material-icons right">close</i></span>
                    <p>Sữa chua dạng kem, mát dẻo, lại tốt cho sức khỏe, chuẩn vị Hạ Long. Rưới lên trên là 1 lớp
                        siro kiwi và vài lát kiwi tươi ngon. Lưu ý: sản phẩm chưa bao gồm trân châu cốt dừa.</p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="https://scontent.fhan2-3.fna.fbcdn.net/v/t1.0-9/105695759_166176141576943_7551694735806035930_o.jpg?_nc_cat=108&ccb=2&_nc_sid=730e14&_nc_ohc=eOtBgSomBx0AX9UfLnC&_nc_ht=scontent.fhan2-3.fna&oh=b1bd0bf965a8f42cf49480f6f89422c7&oe=5FBC1408">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sữa chua matcha<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#"><i class="material-icons right">favorite</i>Buy now</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mô tả<i
                            class="material-icons right">close</i></span>
                    <p>Sữa chua dạng kem, mát dẻo, lại tốt cho sức khỏe, chuẩn vị Hạ Long. Rưới lên trên là 1 lớp
                        matcha trà xanh. Lưu ý: sản phẩm chưa bao gồm trân châu cốt dừa.
                    </p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="https://scontent.fhan2-1.fna.fbcdn.net/v/t1.0-9/105350740_166176191576938_6612950138939115410_o.jpg?_nc_cat=102&ccb=2&_nc_sid=730e14&_nc_ohc=D_WZhWuDGocAX9ALCFo&_nc_ht=scontent.fhan2-1.fna&oh=5a2785981e71418c9bed2f56e6a84d96&oe=5FC576C2">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sữa chua socola<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#"><i class="material-icons right">favorite</i>Buy now</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mô tả<i
                            class="material-icons right">close</i></span>
                    <p>Sữa chua dạng kem, mát dẻo, lại tốt cho sức khỏe, chuẩn vị Hạ Long. Rưới lên trên là 1 lớp
                        socola ngọt ngào. Phù hợp với khách hàng thích đồ ngọt. Lưu ý: sản phẩm chưa bao gồm trân
                        châu cốt dừa.
                    </p>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="center" style="margin-top: 20px;">
        <img style="height:auto;max-width:100%"
            src="//suachuatranchauhalong.vn/wp-content/uploads/2020/04/banner-scs.png" alt="">
    </div>
</div>
<!-- Nav 2 -->
<div class="row" style="margin-top: 50px;">
    <div class="col s4" style="position: relative;">
        <div class="center-text-nav2"><a href='#'>MENU</a></div>
        <div class="nav2-item"
            style="background-image: url(//suachuatranchauhalong.vn/wp-content/uploads/2020/04/MG_6889.jpg);"></div>
    </div>
    <div class="col s4" style="position: relative;">
        <div class="center-text-nav2"><a href='#'>STORY</a></div>
        <div class="nav2-item"
            style="background-image: url(//suachuatranchauhalong.vn/wp-content/uploads/2020/04/MG_6889.jpg);"></div>
    </div>
    <div class="col s4" style="position: relative;">
        <div class="center-text-nav2"><a href='#'>NEWS</a></div>
        <div class="nav2-item"
            style="background-image: url(//suachuatranchauhalong.vn/wp-content/uploads/2020/04/MG_6889.jpg);"></div>
    </div>
</div>