 <!-- San pham noi bat -->
 <div class="container">
    <h3 style="margin-top: 60px; text-align:center" class="cyan-text text-lighten-3">Sản phẩm nổi bật</h3>
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="../static/images/dâu tây.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sữa chua dâu tây<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#"><i class="material-icons right">favorite</i>Buy now</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mô tả<i
                            class="material-icons right">close</i></span>
                    <p>Sữa chua dạng kem, mát dẻo, lại tốt cho sức khỏe, chuẩn vị Hạ Long. Rưới lên trên là 1 lớp
                        siro dâu tây kèm theo vài lát dâu tây tươi ngon. Lưu ý: sản phẩm chưa bao gồm trân châu cốt
                        dừa.</p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="../static/images/xoài.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sữa chua xoài<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#"><i class="material-icons right">favorite</i>Buy now</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mô tả<i
                            class="material-icons right">close</i></span>
                    <p>Sữa chua dạng kem, mát dẻo, lại tốt cho sức khỏe, chuẩn vị Hạ Long. Kèm theo là topping xoài
                        thái hạt lựu. Lưu ý: sản phẩm chưa bao gồm trân châu cốt dừa.</p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="../static/images/chanh leo.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sữa chua chanh leo<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#"><i class="material-icons right">favorite</i>Buy now</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mô tả<i
                            class="material-icons right">close</i></span>
                    <p>Sữa chua dạng kem, mát dẻo, lại tốt cho sức khỏe, chuẩn vị Hạ Long. Rưới lên trên là 1 lớp
                        siro chanh leo. Lưu ý: sản phẩm chưa bao gồm trân châu cốt dừa.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="../static/images/kiwi.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sữa chua kiwi<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#"><i class="material-icons right">favorite</i>Buy now</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mô tả<i
                            class="material-icons right">close</i></span>
                    <p>Sữa chua dạng kem, mát dẻo, lại tốt cho sức khỏe, chuẩn vị Hạ Long. Rưới lên trên là 1 lớp
                        siro kiwi và vài lát kiwi tươi ngon. Lưu ý: sản phẩm chưa bao gồm trân châu cốt dừa.</p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="../static/images/matcha.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sữa chua matcha<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#"><i class="material-icons right">favorite</i>Buy now</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mô tả<i
                            class="material-icons right">close</i></span>
                    <p>Sữa chua dạng kem, mát dẻo, lại tốt cho sức khỏe, chuẩn vị Hạ Long. Rưới lên trên là 1 lớp
                        matcha trà xanh. Lưu ý: sản phẩm chưa bao gồm trân châu cốt dừa.
                    </p>
                </div>
            </div>
        </div>
        <div class="col s4">
            <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator"
                        src="../static/images/socola.jpg">
                </div>
                <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4">Sữa chua socola<i
                            class="material-icons right">more_vert</i></span>
                    <p><a href="#"><i class="material-icons right">favorite</i>Buy now</a></p>
                </div>
                <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Mô tả<i
                            class="material-icons right">close</i></span>
                    <p>Sữa chua dạng kem, mát dẻo, lại tốt cho sức khỏe, chuẩn vị Hạ Long. Rưới lên trên là 1 lớp
                        socola ngọt ngào. Phù hợp với khách hàng thích đồ ngọt. Lưu ý: sản phẩm chưa bao gồm trân
                        châu cốt dừa.
                    </p>
                </div>
            </div>
        </div>
        <br>
    </div>
    <div class="center" style="margin-top: 20px;">
        <img style="height:auto;max-width:100%"
            src="//suachuatranchauhalong.vn/wp-content/uploads/2020/04/banner-scs.png" alt="">
    </div>
</div>
<!-- Nav 2 -->
<div class="row" style="margin-top: 50px;">
    <div class="col s4" style="position: relative;">
        <div class="center-text-nav2"><a href='#'>MENU</a></div>
        <div class="nav2-item"
            style="background-image: url(//suachuatranchauhalong.vn/wp-content/uploads/2020/04/MG_6889.jpg);"></div>
    </div>
    <div class="col s4" style="position: relative;">
        <div class="center-text-nav2"><a href='#'>STORY</a></div>
        <div class="nav2-item"
            style="background-image: url(//suachuatranchauhalong.vn/wp-content/uploads/2020/04/MG_6889.jpg);"></div>
    </div>
    <div class="col s4" style="position: relative;">
        <div class="center-text-nav2"><a href='#'>NEWS</a></div>
        <div class="nav2-item"
            style="background-image: url(//suachuatranchauhalong.vn/wp-content/uploads/2020/04/MG_6889.jpg);"></div>
    </div>
</div>