<div class="quick-call">
    <a id="cart-toggle" href="#!">
        <div style="position: relative;">
            <i class="fas fa-shopping-cart"></i>
            <span class="count">0</span>
        </div>
    </a>
</div>
<div class="cart">
    <div id="menu-cart" class="card d-none">
        <div class="card-content ">
            <span class="card-title">
                <strong>Giỏ hàng</strong>
                <div id="minimize-btn" class="right">
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <path fill-rule="evenodd" clip-rule="evenodd"
                            d="M18.3334 13H5.66675C5.11441 13 4.66675 12.5523 4.66675 12C4.66675 11.4477 5.11441 11 5.66675 11H18.3334C18.8857 11 19.3334 11.4477 19.3334 12C19.3334 12.5523 18.8857 13 18.3334 13Z"
                            fill="black"></path>
                    </svg>
                </div>
            </span>
            <section class="content-section" style="min-width: 600px;">
                <div class="cart-row">
                    <span class="cart-item cart-header cart-column">Sản phẩm</span>
                    <span class="cart-price cart-header cart-column">Giá</span>
                    <span class="cart-quantity cart-header cart-column">Số lượng</span>
                </div>
                <div class="cart-items">
                    <!-- sp -->
                </div>
                <div class="cart-total">
                    <strong class="cart-total-title">Tổng Tiền</strong>
                    <span class="cart-total-price">0đ</span>
                </div>
            </section>
        </div>
        <div class="card-action">
            <button class="btn btn-primary btn-purchase right" type="button">Thanh toán</button>
        </div>
    </div>
</div>