<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'meta-data.html' %}
</head>

<body>
    {% include 'homepage/navbar.html' %}
    <div>

        <img src="https://scontent.fhan5-2.fna.fbcdn.net/v/t1.0-9/107951551_119547096482577_5074963390708113008_o.jpg?_nc_cat=110&_nc_sid=8bfeb9&_nc_ohc=JWGdW54hK08AX_2cMF2&_nc_ht=scontent.fhan5-2.fna&oh=ddceaf954387975e944830dd95b2e50b&oe=5FA0B4AA"
            alt="" style="width: 100%;object-fit:cover;height:500px">
    </div>

    <img src="https://scontent.fhan5-2.fna.fbcdn.net/v/t1.0-9/104726970_101293744974579_1132433615427627927_n.jpg?_nc_cat=101&_nc_sid=340051&_nc_ohc=V8GC5E6T5xIAX_UZw1i&_nc_ht=scontent.fhan5-2.fna&oh=7fdd69ecb881188cd8fa3d59b83c7783&oe=5FA03D67"
        alt="" style="width: 100%;object-fit:cover;height:500px">

    {% include 'homepage/footer.html' %}
</body>

</html>