<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'meta-data.html' %}
</head>

<body>
    {% include 'homepage/navbar.html' %}
    <!-- <div>

        <img src="https://w.ladicdn.com/s850x850/5c3ca4d8de10255d1ab95941/33x-20200308100606.png"
            alt="" style="width: 100%;object-fit:cover;height:500px">
    </div>

    <img src="https://scontent.fhan5-2.fna.fbcdn.net/v/t1.0-9/104726970_101293744974579_1132433615427627927_n.jpg?_nc_cat=101&_nc_sid=340051&_nc_ohc=V8GC5E6T5xIAX_UZw1i&_nc_ht=scontent.fhan5-2.fna&oh=7fdd69ecb881188cd8fa3d59b83c7783&oe=5FA03D67"
        alt="" style="width: 100%;object-fit:cover;height:500px"> -->

        <div id="IMAGE412" class="ladi-element"><div class="ladi-image"><div class="ladi-image-background"></div></div></div>
        <div id="HEADLINE381" class="ladi-element"><h1 class="ladi-headline">Sữa chua trân châu<br>Xuất phát từ mảnh đất<br>Quảng Ninh xinh đẹp<br></h1></div>
        <div id="PARAGRAPH73" class="ladi-element"><p class="ladi-paragraph">Đây là món ăn nổi tiếng có từ lâu đời. Sữa chua xốp lạnh được ăn cùng với bát trân châu cốt dừa nóng hổi vừa ngậy vừa thơm tạo một cảm giác vô cùng thú vị. Không chỉ người dân Quảng Ninh mà rất nhiều khách du lịch về đây cũng thích hương vị đặc biệt này.</p></div>
        <div id="IMAGE414" class="ladi-element"><div class="ladi-image"><div class="ladi-image-background"></div></div></div>
        <div id="IMAGE415" class="ladi-element"><div class="ladi-image"><div class="ladi-image-background"></div></div></div>
        <div id="HEADLINE427" class="ladi-element"><h1 class="ladi-headline">Để giới thiệu tới nhiều người biết đến món ăn này hơn, chúng tôi quyết định nhân rộng nó theo mô hình chuỗi.&nbsp;<br></h1></div>
        <div id="IMAGE428" class="ladi-element"><div class="ladi-image"><div class="ladi-image-background"></div></div></div>
        <div id="PARAGRAPH79" class="ladi-element"><p class="ladi-paragraph">Chúng tôi có bề dày  kinh nghiệm về kinh doanh, quản lý mở cửa hàng trong lĩnh vực F&amp;B và luôn sẵn sàng chia sẻ cùng các đối tác để phát triển nhân rộng thương hiệu Sữa chua Trân châu Quảng Ninh trên toàn quốc.<br>Không chỉ là hợp tác, chúng tôi cam kết đồng hành cùng bạn đi tới thành công.<br><br></p></div>

    {% include 'homepage/footer.html' %}
</body>

</html>