<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'meta-data.html' %}
</head>

<body>
    {% include '/homepage/navbar.html' %}
    <div id="Subheader" style="background-image: url(../static/images/2.jpg);">
        <div class="container">
            <div class="column one">
                <h1 class="title"></h1>
            </div>
        </div>
    </div>
    <div class="container" style="margin-bottom: 50px;">
        <h3 style="margin-top: 60px; text-align:center" class="cyan-text text-lighten-3">Hot Deal</h3>
        <div class="row">
            {% for product in all_products.yogurt_hot_deal %}
            <div class="col s4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/images/product/{{ product.image }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ product.name }}<i
                                class="material-icons right">more_vert</i></span>
                        <p>
                            <a href="#"><span class=" right">{{ product.price }} đ</span>Buy now</a>
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Mô tả<i
                                class="material-icons right">close</i></span>
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <h3 style="margin-top: 60px; text-align:center" class="cyan-text text-lighten-3">Sữa chua</h3>
        <div class="row">
            {% for product in all_products.yogurt %}
            <div class="col s4" style="margin-bottom: 20px;">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/images/product/{{ product.image }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ product.name }}<i
                                class="material-icons right">more_vert</i></span>
                        <p>
                            <a href="#"><span class=" right">{{ product.price }} đ</span>Buy now</a>
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Mô tả<i
                                class="material-icons right">close</i></span>
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <h3 style="margin-top: 60px; text-align:center" class="cyan-text text-lighten-3">Món ăn vặt</h3>
        <div class="row">
            {% for product in all_products.snack %}
            <div class="col s4">
                <div class="card">
                    <div class="card-image waves-effect waves-block waves-light">
                        <img class="activator" src="../static/images/product/{{ product.image }}">
                    </div>
                    <div class="card-content">
                        <span class="card-title activator grey-text text-darken-4">{{ product.name }}<i
                                class="material-icons right">more_vert</i></span>
                        <p>
                            <a href="#"><span class=" right">{{ product.price }} đ</span>Buy now</a>
                        </p>
                    </div>
                    <div class="card-reveal">
                        <span class="card-title grey-text text-darken-4">Mô tả<i
                                class="material-icons right">close</i></span>
                        <p>{{ product.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% include '/homepage/footer.html' %}

</body>

</html>