<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% include 'meta-data.html' %}
</head>

<body>
    {% include '/homepage/navbar.html' %}
    <div id="Subheader">
        <div class="container">
            <div class="column one">
                <h1 class="title">Sản phẩm</h1>
            </div>
        </div>
    </div>

    {% include '/homepage/footer.html' %}
</body>

</html>