<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/static/css/tintuc.css">
  {% include 'meta-data.html' %}
</head>

<body>
  {% include '/homepage/navbar.html' %}

  <div id="SECTION27" class="ladi-section">
    <div class="ladi-section-background"></div>
    <div class="ladi-overlay"></div>
    <div class="ladi-container" >
      <div id="IMAGE214" class="ladi-element">
        <div class="ladi-image">
          <div class="ladi-image-background"></div>
        </div>
      </div>
      <div id="IMAGE416" class="ladi-element">
        <div class="ladi-image">
          <div class="ladi-image-background"></div>
        </div>
      </div>
      <div id="IMAGE417" class="ladi-element">
        <div class="ladi-image">
          <div class="ladi-image-background"></div>
        </div>
      </div>
      <div id="IMAGE418" class="ladi-element">
        <div class="ladi-image">
          <div class="ladi-image-background"></div>
        </div>
      </div>
      <div id="HEADLINE420" class="ladi-element">
        <h1 class="ladi-headline">TIN TỨC MỚI NHẤT</h1>
      </div>
    </div>
  </div>

  <div class="container">
    <h3 style="margin-top: 60px;text-align:center" class="cyan-text text-lighten-3">Tin tức</h3>
    <div class="row">
      <div class="col s12 m4">
        <img
          src="../static/images/tintuc/new1.jpg"
          alt="" style="width:100%;height:300px;object-fit:cover">
        <a class='a-news'
          href="https://www.facebook.com/suachuaquangninh/photos/a.117319739795917/195144742013416/">Ngày phụ nữ
          Việt Nam 20/10</a>
        <br>
        <span class="time">
          <i class="tiny material-icons" style="margin-right: 5px">access_alarm</i>
          20/10/2020
        </span>
        <p>𝓒𝓱𝓪̀𝓸 𝓶𝓾̛̀𝓷𝓰 𝓷𝓰𝓪̀𝔂 𝓹𝓱𝓾̣ 𝓷𝓾̛̃ 𝓥𝓲𝓮̣̂𝓽 𝓝𝓪𝓶 𝟐𝟎/𝟏𝟎
          <br>
          Phụ nữ là món quà đặc biệt nhất của tạo hóa. Đằng sau vẻ ngoài mỏng manh như sương mai của những người bà,
          người mẹ, người chị, người vợ, người em, người bạn của chúng ta, là tất cả sự mạnh mẽ, kiên cường, thông minh
          và đầy nhiệt huyết...</p>
        <!-- Promo Content 1 goes here -->

      </div>
      <div class="col s12 m4">
        <img
          src="../static/images/tintuc/new2.jpg"
          alt="" style="width:100%;height:300px;object-fit:cover">
        <a class='a-news' href="https://www.facebook.com/suachuaquangninh/photos/a.117319739795917/194524418742115/">Có
          Now giao-Sữa chua nào</a>
        <br>
        <span class="time">
          <i class="tiny material-icons" style="margin-right: 5px">access_alarm</i>
          13/10/2020
        </span>
        <p>𝐍𝐨𝐰 𝐱 𝐒𝐮̛̃𝐚 𝐂𝐡𝐮𝐚 𝐓𝐫𝐚̂𝐧 𝐂𝐡𝐚̂𝐮 𝐐𝐮𝐚̉𝐧𝐠 𝐍𝐢𝐧𝐡
          <br>
          Săn liền ngay lập tức: DEAL HỜI, SHIP TẬN NƠI ✨
          <br>
          Từ hôm nay, 13.10, Now bùng nổ khuyến mãi: FREESHIP 0 ĐỒNG 🔥
        </p>
        <!-- Promo Content 2 goes here -->
      </div>
      <div class="col s12 m4">
        <img
          src="../static/images/tintuc/new3.jpg"
          alt="" style="width:100%;height:300px;object-fit:cover">
        <a class='a-news'
          href="https://www.facebook.com/S%E1%BB%AFa-chua-tr%C3%A2n-ch%C3%A2u-Qu%E1%BA%A3ng-Ninh-34-Mai-Anh-Tu%E1%BA%A5n-101286928308594/photos/pcb.157600356010584/157600032677283">Sữa
          chua 0Đ thứ 2 và thứ 6 hàng tuần</a>
        <span class="time">
          <i class="tiny material-icons" style="margin-right: 5px">access_alarm</i>
          11/10/2020
        </span>
        <p>𝑯𝒐𝒕 𝑫𝒆𝒂𝒍 0Đ 𝒕𝒓𝒆̂𝒏 𝑩𝒂𝒆𝒎𝒊𝒏
          <br>
          Quán đang có chương trình khuyến mại siêu đặc biệt trên Baemin vào thứ 2 và thứ 6 hàng tuần nha 🤗🤗🤗 khách
          yêu ủng hộ chúng em đi ạ 😘😘😘</p>
        <!-- Promo Content 3 goes here -->
      </div>

    </div>
    <div class="row">
      <div class="col s12 m4">
        <img
          src="../static/images/tintuc/new4.png"
          alt="" style="width:100%;height:300px;object-fit:cover">
        <a class='a-news' href="https://www.facebook.com/suachuaquangninh/posts/189723845888839">Vui Trung Thu
          2020</a>
        <br>
        <span class="time">
          <i class="tiny material-icons" style="margin-right: 5px">access_alarm</i>
          4/10/2020
        </span>
        <p>𝑻𝒓𝒖𝒏𝒈 𝑻𝒉𝒖 𝒉𝒂̣𝒏𝒉 𝒑𝒉𝒖́𝒄 𝒃𝒊̀𝒏𝒉 𝒂𝒏 𝒈𝒉𝒆́
          <br>
          𝑨́𝒏𝒉 𝒕𝒓𝒂̆𝒏𝒈 𝒓𝒖̛̣𝒄 𝒔𝒂́𝒏𝒈 𝑻𝒆̂́𝒕 𝒔𝒖𝒎 𝒗𝒂̂̀𝒚
          <br>
          Vậy là một mùa trăng tròn nữa sắp tới. Ngày trung thu cận kề, lòng người dọn bớt những ngổn ngang
          bộn bề của cuộc sống để ngồi bên nhau thưởng trăng, kể chuyện ân tình. Dù cho vật đổi sao dời, Trung
          Thu mãi là dịp gia đình, người thân cùng nhau quây quần viết nên những kỷ niệm ngọt ngào. </p>
        <!-- Promo Content 1 goes here -->

      </div>
      <div class="col s12 m4">
        <img
          src="../static/images/tintuc/new5.jpg"
          alt="" style="width:100%;height:300px;object-fit:cover">
        <a class='a-news' href="https://www.facebook.com/permalink.php?story_fbid=133994165037870&id=101286928308594">Tác dụng của
          sữa chua</a>
        <br>
        <span class="time">
          <i class="tiny material-icons" style="margin-right: 5px">access_alarm</i>
          4/10/2020
        </span>
        <p>5 𝙩𝙖́𝙘 𝙙𝙪̣𝙣𝙜 𝙘𝙪̉𝙖 𝙨𝙪̛̃𝙖 𝙘𝙝𝙪𝙖:
          <br>
          Sữa chua trân châu Quảng Ninh thường ca tụng rất nhiều về lợi ích của Sữa chua mang lại cho sức khỏe
          chúng ta. Vậy đối với làn da, Sữa chua có thực sự được coi là một "dũng sĩ" làm đẹp? Cùng chúng mình
          khám phá nhé!</p>
        <!-- Promo Content 2 goes here -->
      </div>
      <div class="col s12 m4">
        <img
          src="../static/images/tintuc/new6.jpg"
          alt="" style="width:100%;height:300px;object-fit:cover">
        <a class='a-news' href="https://www.facebook.com/permalink.php?story_fbid=153133959790557&id=101286928308594">Hot Dessert chào
          tháng 10</a>
        <span class="time">
          <i class="tiny material-icons" style="margin-right: 5px">access_alarm</i>
          4/10/2020
        </span>
        <p>𝑺𝒊𝒆̂𝒖 𝒑𝒉𝒂̂̉𝒎 𝒄𝒖̛̣𝒄 𝒉𝒐𝒕 𝒄𝒉𝒂̀𝒐 𝒕𝒉𝒂́𝒏𝒈 10
          <br>
          Sữa tươi trân châu Quảng Ninh - 34 Mai Anh Tuấn ra mắt cực phẩm 𝑺𝒖̛̃𝒂 𝒕𝒖̛𝒐̛𝒊 𝒕𝒓𝒂̂𝒏
          𝒄𝒉𝒂̂𝒖 đ𝒖̛𝒐̛̀𝒏𝒈 đ𝒆𝒏 & 𝑺𝒖̛̃𝒂 𝒄𝒉𝒖𝒂 𝒕𝒓𝒂̂𝒏 𝒄𝒉𝒂̂𝒖 đ𝒖̛𝒐̛̀𝒏𝒈 đ𝒆𝒏</p>
        <!-- Promo Content 3 goes here -->
      </div>

    </div>
    <div class="row">
      <div class="col s12 m4">
        <img
          src="../static/images/tintuc/new7.jpg"
          alt="" style="width:100%;height:300px;object-fit:cover">
        <a class='a-news'
          href="https://www.facebook.com/101286928308594/photos/a.101291614974792/139083817862238/">Chung tay đẩy lùi
          Covid-19 cùng Mai Anh Tuấn</a>
        <br>
        <span class="time">
          <i class="tiny material-icons" style="margin-right: 5px">access_alarm</i>
          1/9/2020
        </span>
        <p>𝑺𝒖̛̃𝒂 𝒄𝒉𝒖𝒂 𝒕𝒓𝒂̂𝒏 𝒄𝒉𝒂̂𝒖 𝑸𝒖𝒂̉𝒏𝒈 𝑵𝒊𝒏𝒉 𝒄𝒉𝒖𝒏𝒈 𝒕𝒂𝒚 đ𝒂̂̉𝒚 𝒍𝒖̀𝒊 𝑪𝒐𝒗𝒊𝒅-19
          <br>
          Sữa chua trân châu Quảng Ninh - 34 Mai Anh Tuấn chấp hành nghiêm chỉnh luật giãn cách xã hội bắt đầu từ
          19/8/2020 nhằm mang lại sự an toàn tuyệt đối cho khách hàng 🥰 </p>
        <!-- Promo Content 1 goes here -->

      </div>
      <div class="col s12 m4">
        <img
          src="../static/images/tintuc/new8.jpg"
          alt="" style="width:100%;height:300px;object-fit:cover">
        <a class='a-news'
          href="https://www.facebook.com/permalink.php?story_fbid=135489258221694&id=101286928308594">Cuối tuần cùng
          Sữa chua trân châu Quảng Ninh</a>
        <br>
        <span class="time">
          <i class="tiny material-icons" style="margin-right: 5px">access_alarm</i>
          4/10/2020
        </span>
        <p>𝑪𝒖𝒐̂́𝒊 𝒕𝒖𝒂̂̀𝒏 𝒃𝒂̣̂𝒏 𝒃𝒊̣𝒖 𝒍𝒂̀𝒎 𝒄𝒉𝒊
          <br>
          𝑴𝒂̀ 𝒌𝒉𝒐̂𝒏𝒈 𝒏𝒈𝒐̂̀𝒊 𝒙𝒖𝒐̂́𝒏𝒈 𝒍𝒂̀𝒎 𝒍𝒚 𝒏𝒈𝒐̣𝒕 𝒏𝒈𝒂̀𝒐
          <br>
          Một tuần bận rộn và mệt mỏi đã qua, bạn đã có kế hoạch gì cho Chủ nhật này chưa? Hãy cùng Sữa chua trân châu
          Quảng Ninh lập kế hoạch "𝓓𝓪𝔂 𝓯𝓸𝓻 𝓾𝓼" để dành thời gian chăm sóc bản thân, ở bên gia đình và vui cùng
          bạn bè nhé</p>
        <!-- Promo Content 2 goes here -->
      </div>
      <div class="col s12 m4">
        <img
          src="../static/images/tintuc/new9.jpg"
          alt="" style="width:100%;height:300px;object-fit:cover">
        <a class='a-news' href="https://www.facebook.com/101286928308594/photos/a.101291614974792/126140172489936/">Tăng
          cường sức khỏe nhờ sữa chua Quảng Ninh</a>
        <span class="time">
          <i class="tiny material-icons" style="margin-right: 5px">access_alarm</i>
          17/8/2020
        </span>
        <p>𝑫𝒂̣𝒐 𝒏𝒂̀𝒚 𝒕𝒉𝒂̂́𝒚 𝒚𝒆̂́𝒖
          <br>
          𝑪𝒉𝒂̆́𝒄 𝒍𝒂̀ 𝒕𝒉𝒊𝒆̂́𝒖 𝒔𝒖̛̃𝒂 𝒄𝒉𝒖𝒂
          <br>
          Sữa chua trân châu Quảng Ninh chính là sữa bò tươi hoặc sữa được pha theo công thức tươi cho lên men với các
          chủng vi khuẩn có lợi cho hệ đường ruột. </p>
        <!-- Promo Content 3 goes here -->
      </div>

    </div>
  </div>









  {% include '/homepage/footer.html' %}
</body>

</html>